{% extends 'base.html' %}
{% block content %}

<h1>Recipe Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ recipe.title }}</span>
        <p>Culture: {{ recipe.culture }}</p>
        <p>Description: {{ recipe.description }}</p>
        <!-- {% if cat.age > 0 %}
        <p>Age: {{ cat.age }}</p>
        {% else %}
        <p>Age: Kitten</p>
        {% endif %} -->
    </div>
    <div class="card-action">
        <a href="{% url 'recipes_update' recipe.id %}">Edit</a>
        <a href="{% url 'recipes_delete' recipe.id %}">Delete</a>
    </div>
</div>
<p>title: {{ recipe.title }}</p>
{% endblock %}