{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Recipe App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- <nav class="nav-wrapper">
        <div class="container">
            <a href="/" class="brand-logo">Recipe App</a>
            <a href="#" data-target="mobile-links" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'index' %}">Recipes</a></li>
            </ul>
        </div>
    </nav> -->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Recipe App</a>
                <a href="#" data-target="mobile-links" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'index' %}">Recipes</a></li>
                </ul>
            </div>
        </nav>
    </div>

      <ul class="sidenav" id="mobile-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/recipes">Recipes</a></li>
      </ul>
    <!-- </header> -->

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer">
        <div class="right">All Rights Reserved, &copy; 2023 Recipe App &nbsp;</div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
    </script>
</body>
</html>

<!-- <nav>
        <div class="nav-wrapper">
            <ul>
            <li><a href="/">&nbsp;&nbsp;Recipe App</a></li>
            </ul>
            <ul class="right">
            <li><a href="/about">About</a></li>
            </ul>
        </div>
        </nav> -->